<launch>
    <!-- <param name="/use_sim_time" value="false" /> -->
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch"> -->
        <!-- <arg name="world_name" value="$(find multiple_turtlebots_nav)/worlds/ampulheta_worldV6.world"/> -->
        <!-- more default parameters can be changed here -->
        <!-- <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/> -->
    <!-- </include>   -->
  
    <!-- Run the map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(find multiple_turtlebots_nav)/worlds/map_auditorio.yaml" output="screen">
        <param name="frame_id" value="map" />
    </node>

    <!-- include our robots -->
    <!-- <include file="$(find multiple_turtlebots_nav)/launch/generated_robots_ampulheta1robot_no_namespace.launch"/> -->
    <!-- <include file="$(find multiple_turtlebots_nav)/launch/generated_robots_lab2331robot_no_namespace.launch"/> -->
    <!-- <include file="$(find multiple_turtlebots_nav)/launch/generated_robots_auditorio1robot.launch"/> -->
    <include file="$(find multiple_turtlebots_nav)/launch/generated_robots_auditorio2robots.launch"/>

     <!-- launch the overall visualization on rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find multiple_turtlebots_nav)/navigation/multiple_turtlebots.rviz"/>

  </launch>